/* ------------------------- Components Â® Code by Dennis -------------------------------------------------- */

/* ------------------------- Default Header -------------------------------------------------- */

.default-header,
.default-header .header-content {
  padding-top: calc(var(--section-padding) * 1.5);
}

/* ------------------------- Default Header - 1 -------------------------------------------------- */

.default-header-1 {
  padding-bottom: 0;
  overflow: hidden;
  padding-top: calc(var(--section-padding) * 1.5);
}

.default-header-1 .row-content .col {
  gap: calc(var(--gap) * 2);
}

.default-header-1 .row-content .col-row {
  overflow: hidden;
}

.default-header-1 .row-content .col-row-title {
  max-width: calc(var(--title-size) * 7);
}

.default-header-1 .row-image {
  padding-top: var(--section-padding);
  width: calc(100% + ((100vw - (100% + (var(--title-size) * 2))) * 0.5));
}

.default-header-1 .row-image .styled-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--color-light);
}

.default-header-1 .row-image .styled-image-inner {
  overflow: hidden;
}

.default-header-1 .row-image .styled-image::before {
  content: "";
  padding-top: 85%;
  display: block;
}

.default-header-1 .deco-lines {
  width: 100vw;
  right: 0;
  position: absolute;
  top: calc(var(--section-padding) * 3);
}

.default-header-1 .street-line.second {
  top: calc(var(--street-line) * 2);
}

@media screen and (max-width: 1024px) {

  .default-header-1 {
    padding-top: calc(var(--section-padding) * 2.5);
  }

  .default-header-1 .row-image {
    width: calc(100% + ((100vw - 100%) * 0.5));
  }

  .default-header-1 .row-image .styled-image::before {
    padding-top: 100%;
  }

  .default-header-1 .deco-lines {
    top: unset;
    bottom: 60vw;
  }

}

/* ------------------------- Default Header - 2 -------------------------------------------------- */

.default-header-2 {
  padding-bottom: calc(var(--section-padding) + (var(--street-line) * 3));
}

.default-header-2 .deco-lines {
  width: 100vw;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  height: calc(var(--street-line) * 3);
}

.default-header-2 .street-line.second {
  top: calc(var(--street-line) * 2);
}

.default-header-2 .row-content .col {
  gap: calc(var(--gap) * 2);
}

.default-header-2 .row-content .col-row {
  overflow: hidden;
}

.default-header-2 .row-content .col-row-title {
  max-width: calc(var(--title-size) * 7);
}

@media screen and (max-width: 1024px) {

  .default-header-2 {
    padding-top: calc(var(--section-padding) * 2.5);
  }

}


/* ------------------------- Street Line -------------------------------------------------- */

.street-line {
  height: var(--street-line);
  width: 100%;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  position: absolute;
}

/* ------------------------- Overlay Empty -------------------------------------------------- */

.overlay-empty {
  align-items: center;
  justify-content: center;
  background-color: var(--color-lightgray);
  transition: background-color var(--animation-theme);
}

/* ------------------------- Tags -------------------------------------------------- */

.group-tags {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  transition: border-color var(--animation-theme), background-color var(--animation-theme);
}

.group-tags .single-tag {
  border-right: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--gap) * 0.5);
  transition: border-color var(--animation-theme);
}

.group-tags .single-tag span {
  display: flex;
  line-height: 1;
}

.group-tags .single-tag:last-child {
  border-right: 0;
}


/* ------------------------- Article Tag -------------------------------------------------- */

.single-article-tag {
  border: 1px solid var(--color-border);
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: calc(var(--gap) * 0.5);
}

.single-article-tag span {
  line-height: 1;
}

/* ------------------------- Filter -------------------------------------------------- */

.group-filters-default {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc(var(--gap) * 0.5);
}

.single-filter {
  border: 1px solid var(--color-border);
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  transition: border-color var(--animation-theme), background-color var(--animation-theme);
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
}

.single-filter span {
  display: flex;
  line-height: 1;
  user-select: none;
  transition: opacity 0.1s ease-in-out, color var(--animation-theme);
}

.single-filter .filter-close {
  position: relative;
  width: calc(var(--gap) * 1);
  height: calc(var(--gap) * 1);
  transform: translate(3px, 0px) rotate(-45deg) scale(0.6);
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s ease-in-out;
}

.single-filter .filter-close::after,
.single-filter .filter-close::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-dark-ignore);
  transition: background-color var(--animation-theme);
  position: absolute;
}

.single-filter[data-filter-toggle] .filter-close::after,
.single-filter[data-filter-toggle] .filter-close::before {
  background-color: var(--color-dark);
}

.single-filter .filter-close::before {
  transform: rotate(90deg);
}

.single-filter[data-filter-status="active"] {
  border-color: var(--color-dark-ignore);
  background-color: var(--color-primary);
}

.single-filter[data-filter-status="active"] span {
  color: var(--color-dark-ignore);
}

.single-filter[data-filter-status="active"] .filter-close,
.single-filter[data-filter-toggle="show-all"] .filter-close {
  display: flex;
}

.single-filter[data-filter-toggle="show-all"] .filter-close {
  transform: translate(3px, 0px) rotate(0.001deg) scale(0.6);
}

[data-filter-show-all="active"] [data-filter-toggle="show-all"] .filter-close::before,
[data-filter-show-mobile="active"] [data-filter-toggle="show-mobile"] .filter-close::before {
  display: none;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .single-filter:hover>* {
      opacity: 0.5;
    }
  }
}


/* ------------------------- Car Card Single -------------------------------------------------- */

.car-card-single {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Scroll Marker */

.car-card-single .scroll-marker {
  height: 1px;
  width: 100%;
  position: absolute;
  top: calc(50% - 50vh);
  pointer-events: none;
}

/* Image */

.car-card-single .card-image {
  position: relative;
  background-color: var(--color-lightgray);
  padding-bottom: 110%;
  transition: background-color var(--animation-theme);
  overflow: hidden;
}

.has-scroll-smooth .car-card-single .card-image [data-scroll-speed] {
  height: 113%;
  margin-top: -6.5%;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {

    html.loaded [data-card-status="sold"] .car-card-single .card-image img {
      filter: grayscale(1);
    }

    html.loaded [data-card-status="sold"] .car-card-single:hover .card-image img {
      filter: grayscale(0);
    }

    .car-card-single .card-image img {
      transform: scale(1) rotate(0.001deg);
      transition: transform var(--animation-card), filter var(--animation-primary);
    }

    .car-card-single:hover .card-image img {
      transform: scale(1.04) rotate(0.001deg);
    }
  }
}

/* Card Info */

.car-card-single .card-tags {
  display: flex;
  overflow: hidden;
  padding-bottom: calc(var(--gap) * 0.5);
}

.car-card-single .card-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-top: calc(var(--gap) * 1.5);
  padding-bottom: calc(var(--gap) * 0.5);
}

.car-card-single .card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap);
  overflow: hidden;
}

.car-card-single .card-title h3 {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  min-height: calc(16px * 1.2);
  line-height: 1.2;
}

.car-card-single .card-title span {
  flex-shrink: 0;
  line-height: 1.2;
  white-space: nowrap;
}

.car-card-single .split-chars>.single-char {
  text-shadow: 0px calc(var(--gap) * 1.25) var(--color-dark);
  transform: translateY(0px) rotate(0.001deg);
  color: inherit;
  transition: transform var(--animation-primary) var(--delay), color var(--animation-theme), text-shadow var(--animation-theme);
}

.car-card-single .split-chars.primary>.single-char {
  text-shadow: 0px calc(var(--gap) * 1.25) var(--color-primary);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .car-card-single:hover .split-chars>.single-char {
      transform: translateY(calc(var(--gap) * -1.25)) rotate(0.001deg);
    }
  }
}

/* ------------------------- Car Filtered Card Single -------------------------------------------------- */

.car-filtered-card-single {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Scroll Marker */

.car-filtered-card-single .scroll-marker {
  height: 1px;
  width: 100%;
  position: absolute;
  top: calc(50% - 50vh);
  pointer-events: none;
}

/* Images */

.car-filtered-card-single .card-images {
  position: relative;
  width: 100%;
  padding-bottom: calc(var(--gap) * 0.5);
}

/* Single Image */

.car-filtered-card-single .card-image {
  width: 100%;
  position: relative;
  display: flex;
  background-color: var(--color-lightgray);
  transition: background-color var(--animation-theme);
  overflow: hidden;
}

.car-filtered-card-single .card-image::before {
  content: "";
  padding-top: 125%;
  display: block;
}

.car-filtered-card-single .card-image[data-image-ratio="125%"]::before {
  padding-top: 125%;
}

.car-filtered-card-single .card-image[data-image-ratio="100%"]::before {
  padding-top: 100%;
}

.car-filtered-card-single .card-image[data-image-ratio="75%"]::before {
  padding-top: 75%;
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {

    [data-card-status="sold"] .car-filtered-card-single .card-image img {
      filter: grayscale(1);
    }

    [data-card-status="sold"] .car-filtered-card-single:hover .card-image img {
      filter: grayscale(0);
    }

    .car-filtered-card-single .card-image img {
      transform: scale(1) rotate(0.001deg);
      transition: transform var(--animation-card), filter var(--animation-primary);
    }

    .car-filtered-card-single .card-image:hover img {
      transform: scale(1.04) rotate(0.001deg);
    }
  }
}

/* Card Info */

.car-filtered-card-single .card-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-bottom: var(--gap);
}

.car-filtered-card-single .card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap);
  overflow: hidden;
}

.car-filtered-card-single .card-title h3 {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  min-height: calc(16px * 1.2);
  line-height: 1.2;
}

.car-filtered-card-single .card-tags {
  display: flex;
  overflow: hidden;
  padding-bottom: calc(var(--gap) * 0.5);
}

.car-filtered-card-single .card-title span {
  flex-shrink: 0;
  line-height: 1.2;
  white-space: nowrap;
}

.car-filtered-card-single .split-chars>.single-char {
  text-shadow: 0px calc(var(--gap) * 1.25) var(--color-dark);
  transform: translateY(0px) rotate(0.001deg);
  color: inherit;
  transition: transform var(--animation-primary) var(--delay), color var(--animation-theme), text-shadow var(--animation-theme);
}

.car-filtered-card-single .split-chars.primary>.single-char {
  text-shadow: 0px calc(var(--gap) * 1.25) var(--color-primary);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {
    .car-filtered-card-single:hover .split-chars>.single-char {
      transform: translateY(calc(var(--gap) * -1.25)) rotate(0.001deg);
    }
  }
}

/* ------------------------- Single - Stories Card -------------------------------------------------- */

.single-stories-card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: calc(var(--title-size) * 1);
}

.single-stories-card .card-image {
  width: calc(var(--title-size) * 3.5);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.has-scroll-smooth .single-stories-card .card-image [data-scroll-speed] {
  height: 113%;
  margin-top: -6.5%;
}

.single-stories-card .card-image::before {
  content: "";
  padding-top: 110%;
  display: block;
}

.single-stories-card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--gap) * 2);
}

.single-stories-card .card-row-title>* {
  font-size: calc(var(--title-size) * 0.266);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  min-height: calc((var(--title-size) * 0.266) * 1.2);
  line-height: 1.2;
}

.single-stories-card .card-row-subtitle>* {
  font-size: 16px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  min-height: calc(16px * 1.2);
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .single-stories-card .card-row-title>* {
    min-height: calc((var(--title-size) * 0.25) * 1.2);
    font-size: calc(var(--title-size) * 0.25);
  }
}

.single-stories-card .card-row-tags {
  display: flex;
  gap: calc(var(--gap) * 0.5);
}

.single-stories-card .card-row-tags .span-wrap {
  overflow: hidden;
  display: flex;
}

.single-stories-card .split-chars>.single-char {
  text-shadow: 0px calc(var(--gap) * 1.25) var(--color-dark);
  transform: translateY(0px) rotate(0.001deg);
  color: inherit;
  transition: transform var(--animation-primary) var(--delay), color var(--animation-theme), text-shadow var(--animation-theme);
}

@media (hover: hover) {
  @media screen and (min-width: 1025px) {

    .single-stories-card .card-image img {
      transform: scale(1) rotate(0.001deg);
      transition: transform var(--animation-card), filter var(--animation-primary);
    }

    .single-stories-card:hover .card-image img {
      transform: scale(1.04) rotate(0.001deg);
    }

    .single-stories-card:hover .split-chars>.single-char {
      transform: translateY(calc(var(--gap) * -1.25)) rotate(0.001deg);
    }
  }
}

@media screen and (max-width: 1025px) {
  .single-stories-card {
    flex-direction: column;
    gap: calc(var(--gap) * 2);
  }

  .single-stories-card .card-image {
    width: 100%;
  }
}

/* ------------------------- Marquee -------------------------------------------------- */

.marquee-group {
  position: relative;
}

.marquee {
  position: relative;
}

.marquee .marquee-scroll {
  position: relative;
  display: flex;
  width: 140%;
  margin-left: -20%;
}

.marquee .marquee-content {
  position: relative;
  display: flex;
  will-change: transform;
}

/* ------------------------- Flickity Slider - Setup -------------------------------------------------- */

.flickity-slider-group {
  width: 100%;
  position: relative;
  --card-gap: var(--gap);
  --columns: 3;
}

.flickity-slider-group .flickity-carousel {
  display: flex;
}

.flickity-slider-group .flickity-slide {
  width: calc((99.99% / var(--columns)) - (var(--card-gap) * ((var(--columns) - 1) / var(--columns))));
  margin-right: var(--card-gap);
  flex-shrink: 0;
  display: block;
}

/* Turn Flickity ON */
.flickity-slider-group .flickity-carousel::after {
  content: "flickity";
  display: none;
}

/* Remove Flex from for Flickity */
.flickity-slider-group .flickity-carousel {
  display: block;
}

.flickity-slider-group .flickity-viewport {
  overflow: visible;
  width: 100%;
}

/* ------------------------- Flickity Slider - Custom: Filtered Cards -------------------------------------------------- */

.flickity-slider-group[data-flickity-slider-type="car-slider"] {
  --card-width: 60%;
  --card-gap: var(--container-padding);
}

.flickity-slider-group[data-flickity-slider-type="car-slider"] .flickity-slide {
  width: calc(var(--card-width) - var(--card-gap));
}

.flickity-slider-group[data-flickity-slider-type="car-slider"] .flickity-slide[data-image-ratio="125%"] {
  width: calc((var(--card-width) - var(--card-gap)) * 0.8);
  width: calc((var(--card-width) - var(--card-gap)) * 0.9);
}

.flickity-slider-group[data-flickity-slider-type="car-slider"] .flickity-slide[data-image-ratio="75%"] {
  width: calc((var(--card-width) - var(--card-gap)) * 1.33333);
  width: calc((var(--card-width) - var(--card-gap)) * 1.2);
}

@media screen and (max-width: 1024px) {
  .flickity-slider-group[data-flickity-slider-type="car-slider"] {
    --card-width: 76%;
  }
}

/* ------------------------- Flickity Slider - Custom: Filtered Cards -------------------------------------------------- */

.flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
  --card-gap: calc(var(--gap) * 1.5);
  --columns: 6;
}

@media screen and (min-width: 1024px) {

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
    overflow: hidden;
  }

  /* Turn Flickity OFF if 3 collection items */
  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5, .count-6) .flickity-carousel::after {
    content: "";
    display: block;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5, .count-6) .flickity-carousel {
    display: flex;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5, .count-6) .flickity-controls {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
    --card-gap: var(--gap);
  }
}

@media (min-width: 721px) and (max-width: 1024px) {

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
    --card-gap: var(--gap);
    --columns: 5.05;
  }

  /* Turn Flickity OFF if 2 collection items */
  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5) .flickity-carousel::after {
    content: "";
    display: block;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5) .flickity-carousel {
    display: flex;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4, .count-5) .flickity-controls {
    display: none;
  }
}

@media screen and (max-width: 720px) {

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
    --card-gap: var(--gap);
    --columns: 4.05;
  }

  /* Turn Flickity OFF if 1 collection items */
  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4) .flickity-carousel::after {
    content: "";
    display: block;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4) .flickity-carousel {
    display: flex;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3, .count-4) .flickity-controls {
    display: none;
  }
}

@media screen and (max-width: 540px) {

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"] {
    --card-gap: var(--gap);
    --columns: 3.05;
  }

  /* Turn Flickity OFF if 1 collection items */
  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3) .flickity-carousel::after {
    content: "";
    display: block;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3) .flickity-carousel {
    display: flex;
  }

  .flickity-slider-group[data-flickity-slider-type="car-filtered-cards"]:is(.count-1, .count-2, .count-3) .flickity-controls {
    display: none;
  }
}


/* ------------------------- Block Builder -------------------------------------------------- */

.default-block {
  padding-top: 0;
  padding-bottom: calc(var(--section-padding) * 1);
}

.default-block[data-block-index="0"] {
  padding-top: var(--section-padding);
}

/* .default-header-1 + .block-text {
   padding-top: calc(var(--gap) * 3);
} */

.default-block .col-default-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.5);
}

.default-block .col-default-text .col-row-text {
  padding-top: calc(var(--gap) * 1.5);
  max-width: calc(var(--title-size) * 7);
}

.default-block .col-default-text .col-row-btn {
  padding-top: calc(var(--gap) * 1.5);
}

.default-block .col-default-text .col-row-text:nth-child(1),
.default-block .col-default-text .col-row-btn:nth-child(1) {
  padding-top: 0;
}

/* ------------------------- Block - Image 3x -------------------------------------------------- */

.block-imagethree .row.grid {
  --gap: var(--container-padding);
}

.block-imagethree .styled-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.block-imagethree .styled-image::before {
  content: "";
  padding-top: 110%;
  display: block;
}

.has-scroll-smooth .block-imagethree .styled-image [data-scroll-speed] {
  height: 125%;
  margin-top: -12.5%;
}

.has-scroll-smooth .block-imagethree .styled-image.second [data-scroll-speed] {
  height: 112%;
  margin-top: -6%;
}

.block-imagethree .col-second {
  padding: calc((100vw - (var(--container-padding) * 3)) * 0.09) 0;
  order: 2;
  align-items: center;
}

.block-imagethree .col-third {
  justify-content: flex-end;
  align-items: flex-end;
  order: 3;
}

.block-imagethree .col-first .styled-image,
.block-imagethree .col-third .styled-image {
  width: 50%;
}

.block-imagethree.block-flipped-false .col-first {
  order: 3;
  justify-content: flex-start;
  align-items: flex-end;
}

.block-imagethree.block-flipped-false .col-third {
  order: 1;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 720px) {
  .block-imagethree .row.grid {
    --columns: 1;
  }

  .block-imagethree .col-second {
    padding: calc(var(--gap) * 2) 0;
  }

  .block-imagethree .col-second .styled-image {
    width: 75%;
  }

  .block-imagethree .col-first .styled-image,
  .block-imagethree .col-third .styled-image {
    width: 40%;
  }
}


/* ------------------------- Block - Full -------------------------------------------------- */


.block-imagefull .styled-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block-imagefull .styled-image::before {
  content: "";
  padding-top: 90vh;
  display: block;
}

.has-scroll-smooth .block-imagefull [data-scroll-speed] {
  height: 120%;
  margin-top: -10%;
}

@media screen and (max-width: 1024px) {
  .block-imagefull .styled-image::before {
    padding-top: 60vh;
  }
}

/* ------------------------- Block - Team -------------------------------------------------- */

.block-team {
  overflow: hidden;
}

.block-team .row-intro {
  justify-content: center;
}

.block-team .row-intro>.col {
  max-width: calc(var(--title-size) * 7);
  padding-right: calc(var(--title-size) * 2);
}

.block-team .row-images {
  width: 100%;
  flex-direction: column;
}

.block-team .row-images>.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: calc(var(--section-padding) * 1);
  z-index: 2;
}

.block-team .row-images>.col .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap);
}

.block-team .styled-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block-team .styled-image::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.block-team .deco-lines {
  width: 100vw;
  left: calc(var(--container-padding) * -1);
  position: absolute;
  top: calc((370px * 0.5) + (var(--section-padding) * 1));
  transform: translateY(calc(var(--street-line) * -1.5));
}

.block-team .street-line.second {
  top: calc(var(--street-line) * 2);
}

/* 1 */
.block-team .row-images>.col:nth-child(8n+1) {
  align-items: flex-end;
}

.block-team .row-images>.col:nth-child(8n+1) .card {
  width: 24%;
}

/* 2 */
.block-team .row-images>.col:nth-child(8n+2) .card {
  width: 16%;
  margin-right: calc(50% + (var(--container-padding) * 2));
}

/* 3 */
.block-team .row-images>.col:nth-child(8n+3) .card {
  width: 34%;
}

/* 4 */
.block-team .row-images>.col:nth-child(8n+4) {
  align-items: flex-end;
}

.block-team .row-images>.col:nth-child(8n+4) .card {
  width: 16%;
}

/* 5 */
.block-team .row-images>.col:nth-child(8n+5) {
  align-items: flex-start;
}

.block-team .row-images>.col:nth-child(8n+5) .card {
  width: 24%;
}

/* 6 */
.block-team .row-images>.col:nth-child(8n+6) .card {
  width: 16%;
  margin-left: calc(50% + (var(--container-padding) * 2));
}

/* 7 */
.block-team .row-images>.col:nth-child(8n+7) .card {
  width: 34%;
}

/* 8 */
.block-team .row-images>.col:nth-child(8n+8) {
  align-items: flex-start;
}

.block-team .row-images>.col:nth-child(8n+8) .card {
  width: 16%;
}

@media screen and (min-width: 1025px) {

  .block-team .row-images>.col .card .card-info {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + var(--gap)));
  }

  .block-team .row-images>.col:nth-last-child(2) .card .card-info {
    position: relative;
    bottom: unset;
    transform: unset;
  }

  .block-team .row-images>.col {
    margin-top: 0;
  }

  .block-team .deco-lines {
    top: calc((100vw - (var(--container-padding) * 2)) * 0.12);
  }
}

@media screen and (max-width: 1024px) {

  .block-team .row-intro>.col {
    padding-right: 0;
  }

  /* 1 */
  .block-team .row-images>.col:nth-child(8n+1) .card {
    width: min(75%, 370px);
  }

  /* 2 */
  .block-team .row-images>.col:nth-child(8n+2) {
    align-items: flex-start;
  }

  .block-team .row-images>.col:nth-child(8n+2) .card {
    width: min(50%, 250px);
    margin-right: 0;
  }

  /* 3 */
  .block-team .row-images>.col:nth-child(8n+3) .card {
    width: min(75%, 370px);
  }

  /* 4 */
  .block-team .row-images>.col:nth-child(8n+4) .card {
    width: min(50%, 250px);
  }

  /* 5 */
  .block-team .row-images>.col:nth-child(8n+5) .card {
    width: min(75%, 370px);
  }

  /* 6 */
  .block-team .row-images>.col:nth-child(8n+6) {
    align-items: flex-end;
  }

  .block-team .row-images>.col:nth-child(8n+6) .card {
    width: min(50%, 250px);
    margin-left: 0;
  }

  /* 7 */
  .block-team .row-images>.col:nth-child(8n+7) .card {
    width: min(75%, 370px);
  }

  /* 8 */
  .block-team .row-images>.col:nth-child(8n+8) .card {
    width: min(50%, 250px);
  }
}

@media screen and (max-width: 540px) {
  .block-team .row-images>.col {
    margin-top: calc(var(--section-padding) * 0.5);
  }

  .block-team .deco-lines {
    top: calc(((100vw - (var(--container-padding) * 2)) * 0.375) + (var(--section-padding) * 0.5));
  }

}

/* ------------------------- Block - Quote -------------------------------------------------- */

.block-quote .col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-quote .col .card {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) * 1.5);
  align-items: flex-end;
}

.block-quote .styled-image {
  position: relative;
  width: calc(var(--title-size) * 1.25);
  overflow: hidden;
}

.block-quote .styled-image::before {
  content: "";
  padding-top: 100%;
  display: block;
}


@media screen and (max-width: 1024px) {
  .block-quote .container.padding-left .row {
    padding-left: calc((var(--title-size) * 1.25) + (var(--gap) * 1));
    padding-bottom: var(--gap);
  }

  .block-quote .col .card {
    gap: calc(var(--gap) * 1);
  }
}

/* ------------------------- Block - Image Split -------------------------------------------------- */

.block-imagesplit .row.grid {
  --columns: 2;
  align-items: center;
  --big-gap: calc(var(--title-size) * 0.75);
}

.block-imagesplit .styled-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.block-imagesplit .col-image {
  padding-right: var(--big-gap);
}

.block-imagesplit .col-default-text {
  padding-left: var(--big-gap);
  padding-right: var(--big-gap);
}

.block-imagesplit .styled-image::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.has-scroll-smooth .block-imagesplit .styled-image [data-scroll-speed] {
  height: 112%;
  margin-top: -6%;
}

@media screen and (max-width: 1024px) {
  .block-imagesplit .row.grid {
    --columns: 2;
    align-items: center;
    --big-gap: calc(var(--title-size) * 0.5);
  }
}

@media screen and (max-width: 800px) {
  .block-imagesplit .row.grid {
    --columns: 1;
    --big-gap: 0;
  }

  .block-imagesplit .col-default-text {
    padding-top: calc(var(--gap) * 1.5);
  }
}

@media screen and (min-width: 801px) {

  .block-imagesplit.block-flipped-false .col-image {
    order: 3;
    padding-right: 0;
    padding-left: var(--big-gap);
  }
}